#container {
    width: 80%;
    margin: 0 auto;
}

#navbar {
    background-color: #118AB2;
    float: left;
}

#contenido {
    width: 70%;
    background-color: #06D6A0;
    float: left;
}

#sidebar {
    width: 30%;
    background-color: #EF476F;
    float: left;
}

button{
    border-radius: 10px;
    background-color: #202330;
    border: 0px;
    font-size: 30px;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

button:hover{
    background-color: #363943;
}