*{
    padding: 0px;
    margin: 0px;
}
body{
    width: auto;
    height: auto;
}


.navbar-amigos-izq{
    width: 15%;
    height: 100vh;
    background-color: #73807f;
    position: absolute;
}

.cuerpo{
    width: 85%;
    height: 98.3vh;
    background-color: #185274;
    float:right;
    position: absolute;
    left: 15%;
    top: 0px;
}

.navbar-servidores{
    width: 100%;
    height: 6.3%;
    
}

#nav-mobile{
    background-color: #a14a4d !important;
}

.img_server{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 20px;
}

.pagination{
    width: 70%;
    height: 0px;
}

.pagination li{
    height: 64px;
}

.barra-canales{
    width: 180px;
    height: 93.5vh;
    background-color: #ee6e73;
    float: right;
    position: absolute;
    left: 89%;
}
 
.canal{
    width: 100%;
    height: 93.6vh;
    background-color: #33c1b5;
    position: absolute;
}
.zona-canales{
    background-color: bisque;
    width: 100px;
    height: 90vh;
    position: absolute;
    left: 25%;
    top: 20px;
}

.fixed-action-btn{
    position: initial;
    margin: 15px 30px 10px 8px;
    float: left;
}

.fixed-action-btn.direction-left ul{
    position: relative;
    top: -56px;
    right: 68px;
    height: 0px;
    width: 50px;
}

.large material-icon{
    color: wheat;
}

/*CHAT*/

.zona-texto{
    position: absolute;
    width: 89%;
    height: 100%;
    background-color: darkgreen;
}
.form-chat{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(104, 201, 104);
    top: 90%;
}
.form-mens-chat{
    position: absolute;
    width: 90%;
    height: 50%;
    background-color: rgb(50, 103, 50);
    top: 25%;
    left: 2%;
    border-radius: 25px;
}
.form-env-chat{
    position: absolute;
    width: 5%;
    height: 70%;
    background-color: rgb(161, 165, 161);
    top: 15%;
    left: 93%;
    border-radius: 10px;
}
.zona-mensajes{
    position: absolute;
    width: 89%;
    height: 85%;
    top: 5%;
    background-color: rgb(98, 160, 98);
    left: 5.5%;
}
.zona-mensaje-indv{
    width: 50%;
    height: 7%;
    background-color: antiquewhite;
    margin-top: 15px;
    margin-left: 15px;
}
.ej-mensaje{
    width: 44%;
    height: 5%;
    position: absolute;
    top: 2.7%;
    left: 6%;
    background-color: rgb(216, 148, 58);
    border-radius: 25px;
}
.ej-ft-perfil{
    width: 50px;
    height: 50px;
    top: 2.3%;
    position: absolute;
    background-color: rgb(216, 148, 58);
    border-radius: 50%;
}
#form-env-chat{
    position: absolute;
    width: 5%;
    height: 70%;
    background-color: rgb(161, 165, 161);
    top: 15%;
    left: 93%;
    border-radius: 10px;
}
input[value="Enviar"]{
    position: absolute;
    width: 5%;
    height: 70%;
    background-color: rgb(161, 165, 161);
    top: 15%;
    left: 93%;
    border-radius: 10px;
}