body{
    padding: 20px 20px 20px 20px;
}
.top{
    margin: 0px 0px 20px 0px;
}
td, th{
    margin-left: 30px;
}
.cuerpo{
    width: 98%;
    border-radius: 25px;
    border: #ababad solid;
    padding: 20px 20px 20px 20px;
    margin-left: 1%;
}